services:
  dev:
    build: .
    volumes:
      - ..:/workspaces/learning-rag:cached
    command: sleep infinity
    environment:
      QDRANT_URL: http://qdrant:6333
      UV_PROJECT_ENVIRONMENT: /opt/venv

  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333" # HTTP
      - "6334:6334" # gRPC
    volumes:
      - qdrant_data:/qdrant/storage

volumes:
  qdrant_data:
